body{
    background-color:black;
   
    margin: 9%;
    margin-top: 4%;
    padding: 0%;
    text-align: center;

    

    
}



h2,h3,p{
    color: white;


}

a{
    color: yellow;
    text-decoration: none;
    
}

 h1  {
    color:cornsilk;
    text-decoration: overline;
    text-shadow: 1px 2px 5px yellow;
    
    

}

.tabla{
 color: aliceblue;
 position: relative;
 left: 570px;
 border-collapse: collapse;

 

    
} 

th,td{
    border: 1px solid yellow;
    width: 200px;
    padding: 5px;



}

th{
    background-color: brown;
    color: black;
    
}

td{
    text-align: left ;
}

a:link{
    color: aqua;
}

a:visited{
    color: orange;
}

a:hover{
    color:blue ;
}



img{
    border-radius: 30px;
    margin: 10px;
    
}







.contraseña

{

    position: relative;
    left:20px;
    margin: 0%;


}

.ingeneral{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}







.welcome{

    
    position: relative;
    top: 10px;
    text-align: center;
    
}

form button{
    position: relative;
    left: 30px;
    color: cornsilk;
    background-color: crimson;
    text-align: center;

    
    
}

ul{
    background-color: black;
    list-style-type: georgian;
    padding: 0%;
    margin: 0%;
    position: relative;
    left: 10px;


   
}


.titulo{

    font-size: 60px;
    
}

.titulo{
    box-shadow: 0 3rem 14rem #cc540e;
}

form{
    
    
    position: relative;

    
}



.bo:hover{

    color: rgb(255, 230, 0);
    cursor: pointer;
    
}

.bo{
    background-color: peru;
    color:springgreen;
}


.piano{
    background-color: orange;
    margin: 20px;
    
}



div,.guitarra ,.piano,.flauta{
    
    transition: box-shadow 0.3s ease;
    border-radius: 20px;
    padding: 2px 0px;
    cursor: pointer;
    margin: 20px;    
    
   
    
}

div{
    box-shadow: 0 4rem 10rem #c5b30edc;

}


img:hover,.piano:hover,.guitarra:hover,.flauta:hover{
    box-shadow: 0 3rem 14rem #cc540e ;
    
    
}


.one{
    background-color: hsl(17, 10%, 5%);
}



footer p{
    padding: 20px;
    color: rgb(220, 20, 20);
    margin-top: 100px;
    position: relative;
    font-size: 30px;
}


hr{
    width: 20rem;
}


.general{
    color: brown;
    background-color:black;
    overflow: scroll top;
}


.willys{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}


.como{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.just{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}















