


main{

    background-image: url(img/WhatsApp\ Image\ 2023-12-06\ at\ 9.57.01\ AM.jpeg);
   
    background-position: center;
    background-size: cover;
    position: relative;
    width: 450px;
    height: 600px;
    margin: 30px auto;
    border: solid black 2px;

    
}

.div1{

    position: relative;
    top: 270px;
    left: 100px;

}


.div2{
    position: relative;
    top: 270px ;
    left: 100px ;
}

.div3{
    position: relative;
    top: 270px;
    left: 200px;

}

.div4{
    position: relative;
    top: 270px;
    left: 300px;
}


.div5{
    position: relative;
    top: 270px;
    left: 250px;
}


.div6{
    position: relative;
    top:-120px;
    left: 180px;
}

.div7{
    position: relative;
    top: 110px;
    left: 150px;
}

.div8{
    position: relative;
    
}